#batalla {
    width: 150px;
    height: 150px;
    background-image: url('../img/vs.png');
    background-repeat: no-repeat;
    background-position: center;
}


#tijera {
    width: 412px;
    height: 300px;
    background-image: url('../img/tijera.png');
    background-repeat: no-repeat;
    background-position: center;
}

#piedra {
    width: 412px;
    height: 300px;
    background-image: url('../img/piedra.png');
    background-repeat: no-repeat;
    background-position: center;
}

#papel {
    width: 412px;
    height: 300px;
    background-image: url('../img/papel.png');
    background-repeat: no-repeat;
    background-position: center;
}